.DS_Store
node_modules
/build
/.svelte-kit
.vscode/
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
package-lock.json
src-tauri/test.db
src-tauri/test.db-shm
src-tauri/test.db-wal
src-tauri/Cargo.lock
target/
